@namespace xf url("http://www.w3.org/2002/xforms");

html{
    background-image:url("../img/fundo.png");
    background-position:center top;
    background-repeat:repeat-x;

    overflow-y:scroll;
}



body{
    width:98%;
    margin:0 auto;
    margin-top:2%;
    background-color:transparent !important;

}
#loading-gif{
    height:64px;
    width:64px;
    margin:2%;
    position:fixed;
    top:0;
    /*
    left: 0; 
    bottom: 0; 
    */
    right:0;
}
.holdings{
    display:inline;
}
#name-title{

}
.input input{
    width:100%;
}

.form-inline label{
    margin-right:3px;
    margin-left:5px;
}
.spacer{
    text-align:center;
    font-weight:bold;
}
#submit{
    width:80%;
    float:right;
}
#submit button{
    float:right;
}
input[type = text],
textarea{


}
#name-title tr:nth-of-type(2n+1){
    background-color:#428bca;
    color:white;

}
#numeric tr:nth-of-type(2n){
    background-color:#428bca;
    color:white;
}

#numeric tr:nth-of-type(2n+1){
    background-color:#428bca;
    color:white;
}
table tr input[type = text]{
    color:black;
}
#name-title th,
#name-title tr,
#name-title td{
    border:1px solid white;

}
#numeric th,
#numeric tr,
#numeric td{
    border:1px solid white;
}
.font-bold{
    font-weight:bold;
}

#main{



}
#header{

    margin-bottom:2%;
}

#default-repeat > .xforms-repeat-item{

    padding-top:2em;


}



.resource{
    position:absolute;
    left:0px;
    margin:12px;

    width:33em;
    background-color:white;
    padding:6px;
    border:2px solid #333;
    border-color:hsla(0, 0%, 0%, 0.3);
    z-index:5;
}

.Instance,
.Work{

}

.Instance > div.resource,
.Work > div.resource{


    overflow:hidden;
    background-color:white;
    z-index:8;
    opacity:1;
}

/*
div.Annotation:last-of-type {
    display:block !important;
}
*/
.show{
    display:block !important;
}

.hide{
    display:none !important;
}

div.Annotation{
    display:none;
}

svg{
    z-index:20000;
}

#switch-plumb{
    display:inline-block;
}
#plumb-on,
#show-plumb,
#refresh-gt{
    display:inline-block;
}
#plumb-off,
#hide-plumb{
    display:inline-block;
}

*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

body{
    font-family:sans-serif;
}

#default-repeat > .xforms-repeat-item{
    background:#FDD;
    background:hsla(45, 100%, 40%, 0.2);
}

/* clearfix */
#default-repeat > .xforms-repeat-item{
    content:' ';
    display:block;
    clear:both;
}



.resource > .xforms-case:hover{
    border-color:white;
    cursor:move;
}

.item.w2{
    width:80px;
    background:#9C0;
}
.item.h2{
    height:80px;
    background:#0C9;
}
.item.h4{
    height:160px;
    background:#C90;
}
.item.w4{
    width:160px;
    background:#90C;
}

.resource > .xforms-case.is-dragging,
.resource > .xforms-case.is-positioning-post-drag{
    border-color:white;
    background:#09F;
    z-index:2;
}




div.highlight > div.xforms-case{
    z-index:5000;
}

div.highlight{
    z-index:8000;

    box-shadow:0px 0px 5px 5px #e0e0e0;
    -o-box-shadow:0px 0px 5px 5px #e0e0e0;
    -webkit-box-shadow:0px 0px 5px 5px #e0e0e0;
    -moz-box-shadow:0px 0px 5px 5px #e0e0e0;
    -moz-border-radius:0.5em;
    -webkit-transition:-webkit-box-shadow 0.15s ease-in;
    -moz-transition:-moz-box-shadow 0.15s ease-in;
    -o-transition:-o-box-shadow 0.15s ease-in;
    transition:box-shadow 0.15s ease-in;

    background-color:white;



}

div.highlight > div.xforms-repeat-item-selected > .xforms-switch{

}



._jsPlumb_connector{
    z-index:20000;
}

#work-repeat > div.xforms-repeat-item{
    /*background-color:#0d78bc;*/
    top:6;
    left:6;
    text-align:left;

}

/** SMALL WINDOW POSITIONS **/
#instance-repeat > div.xforms-repeat-item{
    top:6;
    left:292;

}
#heldmaterial-repeat > div.xforms-repeat-item{
    top:6;
    left:578;


}
#helditem-repeat > div.xforms-repeat-item{
    top:590;
    left:578;


}
#annotation-repeat > div.xforms-repeat-item{
    top:6;
    left:864;
}

#title-repeat > div.xforms-repeat-item{
    top:119;
    right:6;
}

#meeting-repeat > div.xforms-repeat-item{
    top:232;
    right:6;
}

#identifier-repeat > div.xforms-repeat-item{
    top:345;
    right:6;

}


#temporal-repeat > div.xforms-repeat-item{
    top:459;
    right:6;
}

#person-repeat > div.xforms-repeat-item{
    top:572;
    right:6;
}

#family-repeat > div.xforms-repeat-item{
    top:685;
    right:6;
}

#jurisdiction-repeat > div.xforms-repeat-item{
    top:798;
    right:6;
}



#topic-repeat > div.xforms-repeat-item{
    top:911;
    right:6;

}

#organization-repeat > div.xforms-repeat-item{
    top:1024;
    right:6;
}

#place-repeat > div.xforms-repeat-item{
    top:1137;
    right:6;
}


#provider-repeat > div.xforms-repeat-item{
    top:906;
    left:578;
}

.hiding{
    display:none;
}
.showing{
    display:block !important;
}



/** JSPLUMB ARTEFACTS **/
._jsPlumb_endpoint{
    z-index:20000;
}




.work-subject > .xforms-repeat-item{
    position:relative;
}

.connect{
    display:inline-block;
    position:relative;
    /* background-color:#0d78bc; */
    cursor:pointer;
    margin:3px;
    background-color:white;
    border-radius:0.5em;
    border:1px solid #346789;
    -moz-border-radius:0.5em;
    -webkit-transition:-webkit-box-shadow 0.15s ease-in;
    -moz-transition:-moz-box-shadow 0.15s ease-in;
    -o-transition:-o-box-shadow 0.15s ease-in;
    transition:box-shadow 0.15s ease-in;

}

.connect-label{
    padding:5px;
    display:inline-block;
    position:relative;


}
.prop-label{

}



.connect-id,
.current-id,
.instance-name,
.prop-name{
    display:none;
}

.form-control{
    width:88% !important;
    display:inline-block;
}

.check-group{

    margin:0 auto;
}
.check-to-show{
    padding:5px;

}
.toggle-content,
.hide-content,
.show-content{

}
.connected-to-resource{
    font-weight:bold;
}
.toggle-content{

}
/*
div.resource > div.xforms-repeat-item > div.xforms-repeat > div.xforms-repeat-item {
    background-color:white;

    border-radius:0.5em;
    width:20em;
    
    
    margin:6px;

    float:left;
    color:black;
    padding:6px;

    border:1px solid #346789;

    -moz-border-radius:0.5em;



    z-index:1000;

}
*/
select{

    overflow:visible;
}
select option{
    width:auto;
    overflow:visible;
}
/*
.clone  > .xforms-repeat-item {
    position:absolute;
    
    width:10em !important;
    height:10em !important;
    border:solid black 1px;
    background-color:white;

    border-radius:0.5em;
   
    margin:6px;

    
    color:black;
    padding:6px;

    border:1px solid #346789;

    -moz-border-radius:0.5em;



    z-index:1000;
}
*/
.xforms-label{
    display:block;
}

.form-group{
    margin:6px 0 8px 6px;
}

.form-group > .xforms-repeat > .xforms-repeat-item{
    border-radius:0.5em;
    border:1px dotted black;
    -moz-border-radius:0.5em;
    margin-bottom:5px;
    font-weight:600;
    background-color:#B4D8E7;
    padding:3px;

}

.thumbs-up{
    position:relative;
    width:auto;
    top:0 !important;
    right:0;
}
span[oldid = trigger-hide-subform-switch],
span[oldid = trigger-show-subform-switch]{
    position:absolute;
    top:5px !important;
    right:25px !important;
}
span[oldid = trigger-new-resource]{

}
#trigger-delete-resource{

}
h2{
    margin:5px;
}
.connected-to-resource{
    display:none;
}